<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HomePageUrl" value="http://www.canadiantire.ca/en.html" />
    <add key="ValidLogin" value="cdptaskcreds@mail.ru" />
    <add key="ValidPassword" value="password1"/>
    <add key="InvalidLogin" value="qwe123" />
    <add key="InvalidPassword" value="qwe123"/>
  </appSettings>
</configuration>